<!DOCTYPE html>
<html>
	<head>
		<title>Shouter</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<% if user_signed_in? %>
			<a href="">
				<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
			</a>
		<% else %>
			<a href="">
				<%= link_to('Login', new_user_session_path)  %>
				<%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
			</a>
		<% end %>
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		<%= yield %>
	</body>
</html>
